body{color:skyblue;}
h1{background-color:Gray;
  color:orange;}
.cabdi{background-color:Blue;}
  body header nav a{background-color:Black;
    color:yellow;}
#sheekha{background-color:green;
    color:white;}
  h3{background-color:green;
    color:white;}
  dl{color:brown;}
  footer{background-color:orange;
    color:white;}